.ItemGallery {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;

    .Card {
        position: relative;
        margin: 40px 10px;
        width: 280px;
        height: 300px;
        background-color: #fff;
        border-radius: 10px;

        display: flex;
        
        cursor: pointer;

        img {
            position: absolute;
            width: 250px;
            height: 250px;
            border-radius: 10px;
            left: 50%;
            transform: translate(-50%, -10%);
            box-shadow: 5px 5px 20px gray;
        }

        .CardName {
            padding: 30px;
            font-weight: bold;
            width: 100%;

            text-align: center;
            align-self: flex-end;
        }

    }
}