.App {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    height: fit-content;

    max-width: var(--max-width);
    width: 100%;

    margin: auto;

    .ItemGallery {
        width: 100%;
    /*     height: 100%; */
        margin: 0 auto;
    
        display: flex;
        flex-wrap: wrap;
    
    }
    
    
}


@media (max-width: 1300px) {
    .App {
        max-width: 920px;
    }

}

@media (max-width: 950px) {
    .App {
        max-width: 620px;
    }

}
@media (max-width: 650px) {
    .App {
        max-width: 320px;
    }

}